body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #edca82;
}

.main-elems {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #a9c0a6;
    padding: 20px;
    border-radius: 15px;
    width: 75%;
    margin-top: -25vh; /* Move the div one-fourth down the screen */
}