{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/application.scss' %}">
</head>
<body>
    <div class="main-elems">
        <h2>Connect to Spotify</h2>
        <p>Please click below to give us access to your spotify</p>
        <a class='button' href="{{auth_url}}">Connect to Spotify</a>
    </div>

    <script src="{% static 'javascript/connect_to_spotify.js' %}"></script>
</body>
